<button class="btn btn-info btn-sm" id='catsAddCatBtn' type="button" data-toggle="modal" data-target="#catsAddCat" name="edit">Добавить категорию</button>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Категория</th>
			<th>Алиас</th>
			<th colspan="3">Управление</th>
		</tr>
	</thead>
	<tbody>
	{% for item in items%}
		<tr>
			<td  data-toggle="collapse" data-target=".table{{item.id}}" class="accordion-toggle">{{item.name}}</td>
			<td  data-toggle="collapse" data-target=".table{{item.id}}" class="accordion-toggle">{{item.alias}}</td>
			<td><button class="btn btn-info btn-sm" id='catsEditCatBtn' type="button" data-toggle="modal" data-target="#catsEditCat" name="edit" data-whatever='{{item.id}}' data-selected='false'>Редактировать</button></td>
			<td><button class="btn btn-info btn-sm catsDelCatBtn" type="button" name="delete" onclick="catsDelCat({{item.id}})"'>Удалить</button></td>
			<td><button class="btn btn-info btn-sm" id='catsAddParamBtn' type="button" data-toggle="modal" data-target="#catsAddParam" name="add" data-whatever='{{item.id}}' data-selected='false'>Добавить параметр</button></td>
		</tr>
		<tr>
			<td colspan="5" class="hiddenRow">
				<table class="table table-striped">
					<thead>
						{% for param in item.params %}
						<tr class="accordion-body collapse table{{item.id}}">
							<td>{{param.name}}</td>
							<td>{{param.alias}}</td>
							<td><button class="btn btn-info btn-sm" id='catsEditParamBtn' type="button" data-toggle="modal" data-target="#catsEditParam" name="edit" data-whatever='{{param.pid}}' data-catid='{{item.catId}}' data-cid='{{item.id}}' data-selected='false'>Редактировать</button></td>
							<td><button class="btn btn-info btn-sm catsDelParamBtn" type="button" name="delete" onclick="catsDelParam({{item.id}}, {{param.pid}})"'>Удалить</button></td>
						</tr>
						{% endfor %}	
					</thead>
				</table>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>