{% extends 'extends/main.html' %}
{% block main %}
	<div clas="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active"><a href="#">Продукты</a></li>
				<li role="presentation"><a href="#">Категории</a></li>
				<li role="presentation"><a href="#">Параметры</a></li>
			</ul>
		</div>
		<div class="col-md-10 productsTable">
			{% include 'adminReload.html' %}
		</div>
	</div>
	<div id="addProduct" class="modal fade" role='dialog'>
		<div class="modal-dialog" role='document'>
			<div class="modal-content">
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-lable='Закрыть'><span aria-hidden='true'>&times;</span></button>
					<h4 class='modal-title'>Редактор продукта</h4>
				</div>
				<div id="addProductResult" class='modal-body'></div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>Закрыть</button>
					<button type='button' class='btn btn-primary' id='submitAddProduct'>Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<div id="editProduct" class="modal fade" role='dialog'>
		<div class="modal-dialog" role='document'>
			<div class="modal-content">
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-lable='Закрыть'><span aria-hidden='true'>&times;</span></button>
					<h4 class='modal-title'>Редактор продукта</h4>
				</div>
				<div id="productResult" class='modal-body'></div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>Закрыть</button>
					<button type='button' class='btn btn-primary' id='submitProduct'>Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<div id="editParam" class="modal fade" role='dialog'>
		<div class="modal-dialog" role='document'>
			<div class="modal-content">
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-lable='Закрыть'><span aria-hidden='true'>&times;</span></button>
					<h4 class='modal-title'>Редактор параметра</h4>
				</div>
				<div id="paramResult" class='modal-body'></div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>Закрыть</button>
					<button type='button' class='btn btn-primary' id='submitParam'>Сохранить</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}