<div class='form-group'>
	<lable for='param'>Параметр:</lable>
	<select class="form-control" id="param" name="param">
		{% for param in params %}
			<option value="{{param.id}}" {% if param.selected %} selected {% endif %} data-type="{{param.type}}">{{param.name}}</option>
		{% endfor %}
	</select>
</div>
<div class='form-group'>
	<lable for='value'>Значение:</lable>
	<input type='text' class='form-control' id='value' name='value' value='{{value}}'>
</div>
<div class='form-group'>
	<lable for='type'>Тип:</lable>
	<input type='text' class='form-control' id='type' name='type' readonly>
</div>